<!-- components/footer.html -->
<footer>
  <div class="footer-top">
    <div class="footer-container">
      <!-- Kolom 1: Tentang Sekolah -->
      <div class="footer-column">
        <h3>SDN BOJONG RANGKAS 02</h3>
        <p>
          SDN 02 Bojong Rangkas merupakan sekolah dasar negeri yang berlokasi di Kecamatan Ciampea, Kabupaten Bogor. Sekolah
          ini telah berkomitmen dalam memberikan pendidikan dasar yang berkualitas dan berkarakter, dengan menciptakan
          lingkungan belajar yang aman dan nyaman bagi seluruh siswa.
        </p>
        <div class="sosmed-icons">
          <a href="#"><span class="material-icons">facebook</span></a>
          <a href="#"><span class="material-icons">photo_camera</span></a>
          <a href="#"><span class="material-icons">smart_display</span></a>
        </div>
      </div>

      <!-- Kolom 2: Kontak -->
      <div class="footer-column">
        <h3>KONTAK</h3>
        <p>
          <span class="material-icons">location_on</span> Jl. Raya Warung Borong Km 14, RT 003 RW 002 DS. Bojong Rangkas,
          Kecamatan Ciampea, Kab. Bogor, Jawa Barat kode pos 16620
        </p>
        <p><span class="material-icons">call</span> (0251) 7555 387</p>
        <p><span class="material-icons">email</span> sdnbojongrangkas02@gmail.com</p>
      </div>

      <!-- Kolom 3: Navigasi -->
      <div class="footer-column">
        <h3>NAVIGASI</h3>
        <ul>
          <li><a href="index.html">Beranda</a></li>
          <li><a href="profil.html">Profil</a></li>
          <li><a href="galeri.html">Galeri</a></li>
          <li><a href="kontak.html">Kontak</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p><strong>SDN BOJONG RANGKAS 02 CIAMPEA &copy; 2025 | PROKER KKN KARSA BHAKTI | WEBDEV BY UMAYSOFT</strong></p>
  </div>
</footer>
